.table{
    background-image: linear-gradient(-225deg, #22E1FF 0%, #1D8FE1 48%, #625EB1 100%);
    color:white;
    margin: 0 auto;
    padding: 50px;
    text-align: center;
}
.table td,.table th{
    vertical-align: middle;
}/*
.table th{
    vertical-align: middle;
}*/
h1{
    text-align: center;
}
.bg-custom{
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    border-bottom: 4px solid blue;
    color: white;
}
.button,.deleteLink{
    background-color:rgb(22, 22, 140);
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}
.button:hover{
    background-color: rgb(99, 206, 241);
    text-decoration: none;
}
.deleteLink:hover{
    background-color: rgb(99, 206, 241);
    text-decoration: none;
}
.button2{
  background-color:rgb(22, 22, 140);
  border: none;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top:170px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.button2:hover{
  background-color: rgb(99, 206, 241);
  text-decoration: none;
}
.button3{
  background-color:rgb(22, 22, 140);
  border: none;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top:100px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.button3:hover{
  background-color: rgb(99, 206, 241);
  text-decoration: none;
}
.button1{
  background-color:rgb(22, 22, 140);
  border: none;
  color: white;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top:104px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.button1:hover{
  background-color: rgb(99, 206, 241);
  text-decoration: none;
}
.imgBack{
  background-image: url("ok.jpg");
  padding:200px;
  background-size: cover;
}
.mainImg{
  background-image: url("main.jpg");
  padding:200px;
  background-size: cover;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}
html {
    position: relative;
    min-height: 100%;
  }
  body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    color: white;
    text-align: center;
  }
  
  
  /* Custom page CSS
  -------------------------------------------------- */
  /* Not required for template or sticky footer method. */
  
  body > .container {
    padding: 60px 15px 0;
  }
  
  .footer > .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  
  code {
    font-size: 80%;
  }